* {
  box-sizing: border-box;
}

/*** decide on body background color, font later ***/
html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

/*** decide on logo color, text, size later ***/
header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

/*** decide on colors and hover later ***/
header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 15px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

main {
  margin-bottom: 84px;
}

/*** decide on footer color etc later ***/
footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/*** POKEMON LIST PAGE ***/

.pokemon-list-container {
  padding-inline: 23px
}

.pokemon-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.pokemon-tile h3 {
  color: #161616;
  text-decoration: none;
}

.pokemon-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.pokemon-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-filter-buttons>a {
  margin-right: 15px;
}

.pokemon-button {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #E17654;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  width:  10vw;
  margin-bottom: 5px;
}

.pokemon-button:hover {
  color: #FFEAD0;
}

.pokemon-button:focus {
  outline: none;
}

.pokemon-button.selected {
  color: #FFEAD0;
}

.pokemon-button.normal:hover,
.pokemon-button.normal.selected {
    background-color: #decd13;
}

.pokemon-button.fire:hover,
.pokemon-button.fire.selected {
    background-color: #de2713;
}

.pokemon-button.water:hover,
.pokemon-button.water.selected {
    background-color: #13a5de;
}

.pokemon-button.grass:hover,
.pokemon-button.grass.selected {
    background-color: #13de57;
}

.pokemon-button.flying:hover,
.pokemon-button.flying.selected {
    background-color: #13d1de;
}

.pokemon-button.fighting:hover,
.pokemon-button.fighting.selected {
    background-color: #dea513;
}

.pokemon-button.poison:hover,
.pokemon-button.poison.selected {
    background-color: #8613de;
}

.pokemon-button.electric:hover,
.pokemon-button.electric.selected {
    background-color: #a5de13;
}

.pokemon-button.ground:hover,
.pokemon-button.ground.selected {
    background-color: #ad800d;
}

.pokemon-button.rock:hover,
.pokemon-button.rock.selected {
    background-color: #798a83;
}

.pokemon-button.psychic:hover,
.pokemon-button.psychic.selected {
    background-color: #4016ac;
}

.pokemon-button.ice:hover,
.pokemon-button.ice.selected {
    background-color: #75ceeb;
}

.pokemon-button.bug:hover,
.pokemon-button.bug.selected {
    background-color: #96e640;
}

.pokemon-button.ghost:hover,
.pokemon-button.ghost.selected {
    background-color: #2c4b6b;
}

.pokemon-button.steel:hover,
.pokemon-button.steel.selected {
    background-color: #8c8c86;
}

.pokemon-button.dragon:hover,
.pokemon-button.dragon.selected {
    background-color: #19961d;
}

.pokemon-button.dark:hover,
.pokemon-button.dark.selected {
    background-color: #22221a;
}

.pokemon-button.fairy:hover,
.pokemon-button.fairy.selected {
    background-color: #de13d1;
}

.pokemon-button.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

/*** POKEMON DETAIL PAGE ***/

.pokemon-detail-container {
  padding-inline: 27px;
}

.pokemon-detail {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.pokemon-detail img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.pokemon-detail h1 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
  padding-inline: 26px;
}

/* maybe change this nav margin bottom later, kind of big */

.pokemon-nav {
  display: flex;
  margin-bottom: 30px;
}

.pokemon-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.pokemon-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.pokemon-extra-details-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
  font-size: 20px;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

/*** Not Found Page ***/

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

/*** Login Page ***/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}
